<div class="maindiv" fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar>
        <div class="menu" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">EMPLOYEE</span>
            </div>
            <div>
                <span style="color:rgb(4, 4, 40) ;" class="h1">Payroll</span>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="middlecontainer" fxLayout="column" fxLayoutAlign="center center">
    <div class="innerdiv" fxLayout="row" fxLayoutAlign="center center">

        <div class="line1" fxLayout="row" fxLayoutAlign="center center">

            <div class="form1">
                <span style="color:black ;" class="t1">Employee Payroll Form</span>
            </div>

        </div>
        <div class="mid1">
            <div class="left">
                <span class="left1">Name</span>
                <span class="left1">Profile Image</span>
                <span class="left1">Gender</span>
                <span class="left1">Department</span>
                <span class="left1">Salary</span>
                <span class="left1">Start Date</span>
                <span class="left1">Notes</span>
            </div>
            <form [formGroup]="createForm">
                <div class="right">
                    <div class="right1">
                        <div class="g1" fxLayout="row" fxLayoutAlign="center stretch">
                            <mat-form-field appearance="outline" class="field6">
                                <mat-label>Type your name here</mat-label>
                                <input class="field2" matInput placeholder="type your name here" formControlName="name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="right1">
                        <div class="profile" >
                            <div class="radio">
                                <mat-radio-button name="radio" ><img class="feild4" src="../../../assets/Ellipse -1.png"
                                        alt="">
                                </mat-radio-button>
                            </div>
                            <div class="radio">
                                <mat-radio-button name="radio"><img class="feild4" src="../../../assets/Ellipse -2.png"
                                        alt="">
                                </mat-radio-button>
                            </div>
                            <div class="radio">
                                <mat-radio-button name="radio"><img class="feild4" src="../../../assets/Ellipse -3.png"
                                        alt="">
                                </mat-radio-button>
                            </div>
                            <div class="radio">
                                <mat-radio-button name="radio"><img class="feild4" src="../../../assets/Ellipse -4.png"
                                        alt="">
                                </mat-radio-button>
                            </div>
                            <div class="radio">
                                <mat-radio-button name="radio"><img class="feild4" src="../../../assets/Ellipse -5.png"
                                        alt="">
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>
                    <div class="right3">
                        <div class="gender">
                            <mat-radio-button value="5" name="gender">Male</mat-radio-button>
                        </div>
                        <div class="gender">
                            <mat-radio-button value="6" name="gender">Female</mat-radio-button>
                        </div>
                    </div>

                    <div class="right1">
                        <div class="dept">
                            <mat-checkbox>HR</mat-checkbox>
                        </div>
                        <div class="dept1">
                            <mat-checkbox>SALES</mat-checkbox>
                        </div>
                        <div class="dept2">
                            <mat-checkbox>FINANCE</mat-checkbox>
                        </div>
                        <div class="dept3">
                            <mat-checkbox>ENGINEER</mat-checkbox>
                        </div>
                        <div class="dept4">
                            <mat-checkbox>OTHERS</mat-checkbox>
                        </div>
                    </div>
                    <form>
                        <mat-form-field appearance="fill">
                            <mat-label>Select Salary</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let salary of salarys" [value]="salary.value">
                                    {{salary.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>

                    <form>
                        <div class="date">
                            <input type="date" id="date" name="date">

                        </div>
                    </form>

                    <div class="right2">
                        <div class="g2" fxLayout="column" fxLayoutAlign="center center">
                            <mat-form-field class="field1" appearance="outline">
                                <input class="field3" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="notes1" fxLayout="row" fxLayoutAlign="space-evenly center">
                        <button mat-button class="button1">Cancel</button>
                        <button mat-button class="button2" (click)="submit()">Submit</button>
                        <button mat-button class="button3">Reset</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>