.middlecontainer{
   
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 10%;
    margin-left: 32%;
    margin-right: 32%;
    border:1px solid rgb(189, 186, 186);
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}
// .innerdiv{
//     height: 100%;
//     width: 70%;
//     border: 1px solid gainsboro;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 1px,1px,1px,1px;
// }
.email{
    width: 50vh;
}
.next{
    border: 1px solid white;
    width: 100%;
    padding-left: 270px;
}