<div class="maindiv" fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar>
        <div class="menu" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">EMPLOYEE</span>
            </div>
            <div>
                <span style="color:rgb(4, 4, 40) ;" class="h1">Payroll</span>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="middlecontainer" fxLayout="row" fxLayoutAlign="center center">
    <div class="innerdiv" fxLayout="row" fxLayoutAlign="center center">

        <form>
            <div>
                <div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <h2 class="h2">Forgot Password</h2>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-hint>Enter your email</mat-hint>
                    </div>

                </div>
                <br />
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" class="email">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email">
                        <mat-error>Email is required</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div fxLayout="column" fxLayoutAlign="end end" class="next">
                <button mat-flat-button color="primary" routerLink="/reset">Next</button>
            </div>
        </form>

    </div>
</div>