<div class="maindiv" fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar>
        <div class="menu" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <span style="color:rgba(0, 128, 0, 0.582) ;" class="h1">EMPLOYEE</span>
            </div>
            <div>
                <span style="color:rgb(4, 4, 40) ;" class="h1">Payroll</span>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="middlecontainer" fxLayout="column" fxLayoutAlign="center center">
    <div class="innerdiv" fxLayout="row" fxLayoutAlign="center center">
        <div class="line1" fxLayout="row" fxLayoutAlign="space-between center">

            <div class="form1">
                <span style="color:rgb(4, 4, 40) ;" class="t1">Employee Details</span>
            </div>

            <button class="adduser" routerLink="/register">+Add User</button>
        </div>
        <div class="line2">
            <div class="name1">
                <span class="profile">PROFILE</span>
                <span class="profile">NAME</span>
                <span class="profile">GENDER</span>
                <span class="profile">DEPARTMENT</span>
                <span class="profile">SALARY</span>
                <span class="profile">STARTDATE</span>
                <span class="profile">ACTION</span>
            </div>
        </div>
        <div class="userdetails">
            <div class="main" >

                <div class="profile" >
                    <img class="pic" src=""alt="">
                </div>
                <div class="name"></div>
                <div class="gender"></div>
                <div class="depa"></div>
                <div class="salary"></div>
                <div class="startdate"></div>
                <div class="notes"><img class="delete" src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                    <img class="delete" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>